<section class="slide">
  <h1>Slide 1</h1>
</section>

<section class="slide">
  <h1>Slide 2</h1>
</section>

<section class="slide">
  <h1>Slide 3</h1>
</section>

<section class="slide">
  <h1>Slide 4</h1>
</section>

<section class="slide">
  <h1>Slide 5</h1>
</section>

<section class="slide">
  <h1>Slide 6</h1>
</section>
